In [105]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.by import By
import selenium.webdriver.support.ui as ui
import selenium.webdriver.support.expected_conditions as EC
import os
import time
from requests import get
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
import numpy as np
Residential = pd.read_csv("Residential.csv")

In [3]:
#Upload the residential.csv to get the property name
Residential.drop(["Unnamed: 0","Unnamed: 7"], axis=1, inplace=True)

In [4]:
Residential.columns

Index(['Median Price Psf', 'Name', 'No of Transactions', 'Street', 'Tenure',
       'Type'],
      dtype='object')

In [5]:
Residential["Type"].value_counts()

CONDOMINIUM              451
FLAT                     238
APARTMENT                163
SERVICE RESIDENCE        143
 CONDOMINIUM               5
 FLAT                      5
 APARTMENT                 4
CONDOMINIUM FLAT           2
 SERVICE RESIDENCE         1
APARTMENT CONDOMINIUM      1
Name: Type, dtype: int64

In [177]:
Test = Residential[1:25]
Test=Test[Test.Type.str.contains("FLAT")==False]

In [ ]:
Test = Residential[Residential.Type.str.contains("FLAT")==False].reset_index()

In [112]:
df_final=[]

In [121]:
Test = Residential.iloc[541:]

In [122]:
from IPython.display import clear_output
driver = webdriver.Chrome('C:/Users/chromedriver.exe') 
driver.get('https://www.propsocial.my');
driver.find_element_by_class_name("dropdown-toggle").click()
username=driver.find_element_by_id("user_email")
password = driver.find_element_by_id("user_password")
username.send_keys("email")
password.send_keys("password")
driver.find_element_by_name("commit").click()

driver.get('https://www.propsocial.my/dashboard')
driver.find_element_by_class_name("propsocial-logo").click()



#get url for current page
url = driver.current_url
response = get(url)


#parse beautifulsoup in the browser
html_soup = BeautifulSoup(response.text, 'html.parser')
#df_final=[]
for name in Test["Name"]:
    search_box = driver.find_element_by_id("search-box")
    search_box.clear()
    search_box.send_keys(name)
    driver.find_element_by_name("button").submit()
    time.sleep(3)
    print(driver.current_url)
    
    url = driver.current_url
    response = get(url)
    findName = html_soup.find("h1").text
    
    if url == "https://www.propsocial.my/malaysia/1/properties":
        name = name
        total_Blocks= "NA"
        total_Storey = "NA"
        total_Units = "NA"
        maintenace = "NA"
        completion_Date = "NA"
        data = {"Name":name,"Block":total_Blocks,"TotalStoreys":total_Storeys,"TotalUnit":total_Units,"Maintenance":
              maintenance,"Complete":completion_Date,"Developer":developer}
        df_final.append(data)
    #parse beautifulsoup in the browser
    else:
        html_soup = BeautifulSoup(response.text, 'html.parser')
        
    #total_Block = html_soup.find("section", class_="property-detail-extras").find("div", class_="value").text

    #find class of total block,total storey,total unit
        blocks =html_soup.find("section", class_="property-detail-extras")
        if blocks:
            total_Blocks = blocks.find_all("div", class_="value")[0].text
        else:
            total_Blocks = "NA"
            
        storeys = html_soup.find("section", class_="property-detail-extras")
        if storeys:
            total_Storeys = storeys.find_all("div", class_="value")[1].text
        else:
            total_Storeys ="NA"
        
        units = html_soup.find("section", class_="property-detail-extras")
        if units:
            total_Units = units.find_all("div", class_="value")[2].text
        else:
            total_Units= "NA"
    #I decided to remove parking as each unit in a particular property may offer different unit of parking
        #parking = html_soup.find("section", class_="property-detail-extras").find_all("div", class_="value")[3].text.split()[1]
        mantain = html_soup.find_all("div", class_="prices-detail")
        if mantain:
            if mantain[3]:
                maintenance = mantain[3].find("span").text.split()[0]
            else:
                maintenance = "NA"
        else:
            maintenance = "NA"
    #Extract date of completion    
        completion = html_soup.find("div", class_="timeframe-div")
        if completion:
            completion_Date=completion.text.split()[0]
        else:
            completion_Date="NA"
            
    #Developer Name
        dev=html_soup.find("div", class_="developer-title")
        if dev:
            developer = dev.text
        else:
            developer = "NA"
        print(name,total_Blocks,total_Storeys,total_Units,maintenance,completion_Date)

        data = {"Name":name,"Block":total_Blocks,"TotalStoreys":total_Storeys,"TotalUnit":total_Units,"Maintenance":
              maintenance,"Complete":completion_Date,"Developer":developer}
        clear_output(wait = True)
        df_final.append(data)

https://www.propsocial.my/malaysia/1/properties
https://www.propsocial.my/malaysia/1/properties

In [81]:
if mantain:
            if mantain[3]:
                maintenance = mantain[3].find("span").text.split()[0]
            else:
                maintenance = "NA"
else:
    maintenance = "NA"
    
maintenance

'NIL'

In [123]:
FINAL = pd.DataFrame(df_final)
FINAL

,Block,Complete,Developer,Maintenance,Name,TotalStoreys,TotalUnit
0,11,2015,Akisama Group,NIL,OUG PARKLANE,NIL,4429
1,NIL,2011,Aston Villa,NIL,THE SCOTT GARDEN,3,NIL
2,4,NA,PPC Glomac Sdn. Bhd.,NIL,SRI PENARA,17,2040
3,NA,NA,PPC Glomac Sdn. Bhd.,NIL,REGALIA SERVICE APARTMENT,17,NA
4,4,2013,Bukit Kiara Properties,RM0.33psf,VERVE SUITES,37,933
5,4,2014,Trinity Group Sdn Bhd,RM0.20psf,THE Z RESIDENCE,27,1136
6,26,2009,Sunrise,RM0.35psf,SOLARIS DUTAMAS,21,2200
7,NIL,1989,NA,NIL,TAMAN MELATI,NIL,NIL
8,NA,NA,NA,NIL,WANGSA MAJU SEKSYEN 2,NIL,NA
9,4,2010,Amatir Resources,RM0.25psf,SENI MONT KIARA,40,605
10,NA,NA,NA,NA,BANDAR TASIK SELATAN FLAT,NA,NA
11,NA,NA,NA,NA,VILLA WANGSAMAS CONDO,NA,NA
12,NA,NA,NA,NA,ROYAL DOMAIN SRI PUTRAMAS 2,NA,NA
13,2,2015,See Hoy Chan Sdn Bhd Group,RM0.26psf,SERINGIN RESIDENCES,24,542
14,3,2013,YTL Land & Development,NIL,MIDFIELDS,13,NIL
15,NA,NA,YTL Land & Development,NIL,TAMAN SRI MURNI APARTMENT,13,NA
16,NA,NA,YTL Land & Development,NIL,BUKIT OUG,13,NA
17,3,2013,Kelang Lama Sdn Bhd (a subsidiary of Chin Hin ...,RM0.18psf,GEMBIRA RESIDEN,24,467
18,NA,NA,Kelang Lama Sdn Bhd (a subsidiary of Chin Hin ...,RM0.18psf,WANGSA MAJU SEKSYEN 1,24,NA
19,NA,NA,Kelang Lama Sdn Bhd (a subsidiary of Chin Hin ...,RM0.18psf,THE LEAFZ @ DEDAUN SUNGAI BESI,24,NA
20,4,NA,Magna Prima Sdn Bhd,RM60/month,MUTIARA MAGNA,15,NIL
21,2,2014,UOA Development Bhd.,RM0.22psf,LE YUAN RESIDENCE,NIL,670
22,3,2013,Brem Holding Berhad,RM0.16psf,VILLA ORKID,18,412
23,NA,NA,Brem Holding Berhad,RM0.16psf,SRI PUTRAMAS,18,NA
24,2,2009,Ireka Development Management (Ireka Corp),RM0.30psf,TIFFANI KIARA,NIL,399
25,2,NA,Platinum Victory Group Sdn. Bhd.,RM0.12psf,PLATINUM LAKE PV13,24,NIL
26,NA,NA,NA,NA,GREENVIEW APARTMENT,NA,NA
27,6,2001,Berjaya Land (a subsidiary of Berjaya Group),RM0.11psf,ARENA GREEN,11,1240
28,4,2010,Mahajaya Berhad,RM0.13psf,KETUMBAR HEIGHTS,14,838
29,NA,NA,Mahajaya Berhad,RM0.13psf,SRI RAKYAT,14,NA
...,...,...,...,...,...,...,...
983,NIL,1999,NA,NIL,VILLA INAI,7,22
984,NA,NA,NA,NIL,VOGUE SUITES ONE,7,NA
985,NA,NA,NA,NIL,WISMA BEE CHAI,7,NA
986,NA,NA,NA,NIL,WOODLANDS APART,7,NA
987,NA,NA,NA,NIL,ARCORIS MONT KIARA,7,NA
988,NA,NA,NA,NIL,PANTAI DALAM KAMPUNG KERINCHI,7,NA
989,NA,NA,NA,NIL,RESIDENSI RIMBUNAN @ PETALZ RESIDENSI,7,NA
990,NA,NA,NA,NIL,THE LEAFZ @ DEDAUN SUNGAI BESI,7,NA
991,NA,NA,NA,NIL,KIARA 3,7,NA
992,NA,NA,NA,NIL,APARTMEN SENTUL,7,NA
993,NA,NA,NA,NIL,JALAN PERHENTIAN,7,NA
994,NA,NA,NA,NIL,JALAN UNION SENTUL,7,NA
995,NA,NA,NA,NIL,KAWASAN SENTUL,7,NA
996,NA,NA,NA,NIL,PANGSAPURI SRI SENTUL,7,NA
997,NA,NA,NA,NIL,PERUMAHAN SENTUL UTARA,7,NA
998,NA,NA,NA,NIL,SENTUL UNION,7,NA
999,NA,NA,NA,NIL,SENTUL VILLAGE,7,NA
1000,NIL,NA,NA,RM76/month,DESA TUN RAZAK,22,NIL
1001,NA,NA,NA,RM76/month,GOMBAK FLAT,22,NA
1002,NA,NA,NA,RM76/month,KERAMAT JAYA,22,NA
1003,2,2000,Grand Central Development,NIL,MENARA PELANGI,18,280
1004,NA,NA,Grand Central Development,NIL,TAMAN DANAU KOTA,18,NA
1005,1,2016,Pancaran Nilai Sdn. Bhd.,NIL,THE PARC TOWER,34,322
1006,NA,NA,Pancaran Nilai Sdn. Bhd.,NIL,PUTERI APARTMENT,34,NA
1007,NA,NA,Pancaran Nilai Sdn. Bhd.,NIL,WALDORF SERVICE APARTMENT,34,NA
1008,NA,NA,NA,NA,FABER PLAZA,NA,NA
1009,NIL,NA,NA,RM0.22psf,KIARA GREEN,3,NIL
1010,1,2016,NAZA TTDI SDN BHD,RM0.35psf,TTDI ASCENCIA,36,154
1011,NA,NA,NAZA TTDI SDN BHD,RM0.35psf,THE VISTANA CONDO,36,NA
1012,NA,NA,NAZA TTDI SDN BHD,RM0.35psf,BB WANGSA MAJU TOWNHOUSE,36,NA

In [132]:
FINAL = pd.DataFrame(df_final)
#Let check the frequency of the maintenance fee
FINAL.Maintenance.value_counts()

NIL            330
NA             121
RM0.35psf       60
RM0.20psf       49
RM0.25psf       37
RM0.22psf       32
RM0.30psf       31
RM0.40psf       30
RM0.15psf       25
RM0.18psf       19
RM0.33psf       19
RM0.17psf       17
RM0.28psf       16
RM0.16psf       15
RM0.12psf       15
RM0.45psf       11
RM0.37psf       10
RM150/month     10
RM0.55psf       10
RM0.38psf        9
RM0.24psf        9
RM1.10psf        8
RM0.13psf        8
RM0.21psf        7
RM145/month      6
RM76/month       5
RM0.60psf        5
RM0.26psf        4
RM45/month       4
RM0.32psf        4
              ...
RM100/month      2
RM210/month      2
RM0.42psf        2
RM151/month      2
RM194/month      2
RM221/month      2
RM280/month      2
RM105/month      2
RM0.31psf        1
RM66/month       1
RM380/month      1
RM0.47psf        1
RM250/month      1
RM0.14psf        1
RM80/month       1
RM0.61psf        1
RM175/month      1
RM30/month       1
RM156/month      1
RM0.66psf        1
RM0.23psf        1
RM170/month      1
RM0.19psf        1
RM0.10psf        1
RM160/month      1
RM90/month       1
RM0.46psf        1
RM0.34psf        1
RM205/month      1
RM0.11psf        1
Name: Maintenance, Length: 78, dtype: int64

In [124]:
FINAL.to_csv("PropScrap.csv")

In [58]:
df_miss = pd.DataFrame(df_missing)
df_miss.to_csv("df_missing")